<html ng-app="imdb">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
		<title>IMDB</title>
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/bootstrap-3.3.7-dist.zip" rel="stylesheet" />
	

	</head>
	<body>
		<h1> The Movie DB </h1>
		<movie-db></movie-db>
		<!-- <div ng-controller="searchBox">
			<div>
				<input placeholder="search" ng-model='searchName' ng-change="getActors()" />
			</div>

			<div ng-show="!moviesLoaded">
				<div class="actor" ng-repeat="r in results" ng-click="getMoviesById(r.id)">
					<div class="center-name">
						{{r.name}}
					</div>
					<hr>
					<img ng-src="{{SITE_PATH}}/{{r.profile_path}}" />
				</div>
			</div><!--end of movies loaded-->
			
			<!-- <div ng-show="moviesLoaded">
				<div ng-repeat="c in cast" class="actor">
					<div class="center-name">
						{{c.original_title}}
					</div>
					<hr>
					<img ng-src="{{SITE_PATH}}/{{c.poster_path}}" />

				</div>
			</div>
			
		</div> <!-- END CONTROLLER searchBox-->
		
		
		<!--SCRIPTS-->
			<script src="js/angular.js"></script>
		<!--app-->
		<script src="app/imdb.js"></script>

		<!--controllers-->
		<script src="app/controllers/searchBox.js"></script>
		<!-- <script src="app/controllers/img.js"></script> -->
		
		<!--directives-->
		<script src="app/directives/movie-db.js"></script>

		<!--services-->
		<script src="app/Services/message.js"></script>
	</body>
</html>