<html ng-app="imdb">
	<head>
		<meta charset="UTF-8" />
		<title>Actors</title>
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/angular.js"></script>
		<script src="app/imdb.js"></script>
	</head>
	<body>
		<div ng-controller="gallery">
			<p>Actors and Actresses</p>
			<div id="search"> Search:
			<input ng-model="query" />
			</div>
			<button ng-click="sort("up")">UP</button>|<button ng-click="sort("down")">DOWN</button>
			
			<div ng-repeat="actor in actors | filter:{name:query}| orderBy:upDown" class="actor-box" >
				<img ng-src="img/{{actor.img}}">
				<a ng-href="{{actor.path}}" target="_blank">{{actor.name}}</a>
			</div>
		
		
	   </div> <!-- END CONTROLLER GALLERY-->
	</body>
</html>