<div ng-controller="searchBox">
			<div>
				<input placeholder="search" ng-model='searchName' ng-change="getActors()" />
			</div>

			<div ng-show="!moviesLoaded">
				<div class="actor" ng-repeat="r in results" ng-click="getMoviesById(r.id)">
					<div class="center-name">
						{{r.name}}
					</div>
					<hr>
					<img ng-src="{{SITE_PATH}}/{{r.profile_path}}" />
				</div>
			</div><!--end of movies loaded-->
			
			<div ng-show="moviesLoaded">
				<div ng-repeat="c in cast" class="actor">
					<div class="center-name">
						{{c.original_title}}
					</div>
					<hr>
					<img ng-src="{{SITE_PATH}}/{{c.poster_path}}" />

				</div>
			</div>
			
		</div>